body {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.app {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
  float: right;
}

.list-item {
  display: inline-block;
}

.col-md-4 {
  float: left;
  margin-right: 30px;
}

.col-md-3 {
  float: left;
  margin-right: 30px;
}

.col-md-2 {
  float: left;
}